# Database Configuration
DATABASE_URL=mysql+pymysql://root:YOUR_MYSQL_PASSWORD@localhost:3306/real_estate_crm

# Security
SECRET_KEY=55ca6cf32231db46d181975feef046c348b9462f6f71425f473e1f1664eaf6ca
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Project Settings
PROJECT_NAME="Real Estate CRM"
BACKEND_CORS_ORIGINS=["http://localhost:3000"]
